body{
  overflow: hidden;
}
.mat-toolbar{
    background-color: #799c53;
    overflow: hidden;
    height: 1cm;
    
}

.mat-sidenav{
    background-color:#6666CC;
    width: 4cm;

}


.mat-flat-button{
    background-color: #799c53;
    color: white;
    align-items: center;
    

}

.image{ 
    height:100%;
    background-color:hsl(240, 50%, 60%);
   background: url('../../img/girl with laptop.jpg') no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
}

mat-card{
  width: auto;
  height: auto;
  top:  -20%;
  right: -30%;
}
  

textarea{
    font-size:xx-large;
    text-align: center;
}

mat-icon{
margin : 0cm;

}

  .btn-default {
    background: url('../../img/4009727.jpg') no-repeat center center fixed ;
 
    top:  -120px;
    right: -430px;
  }
  
  .btn-change {
 
    background: url('../../img/4009727.jpg') no-repeat center center fixed ;
    top:  0px;
    right: 0px;
    width: 100%;
    height:100%;

  } 
  #fullscreen{
    visibility:visible;
    
    }
    #sidenav-toggle{
      visibility: hidden;
      }

  @media only screen and (max-width: 600px) {

    #sidenav-toggle{
      visibility: visible;
      }
    .image{ 
      height:100%;
      background-color:hsl(240, 50%, 60%);
      background: url('../../img/4009727.jpg') no-repeat center center fixed ;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    
  }
    .btn-default {
      background: url('../../img/4009727.jpg') no-repeat center center fixed ;
   
      top:  0px;
      right: 0px;
    }
    
    .btn-change {
      background: url('../../img/4009727.jpg') no-repeat center center fixed ;
      top:  0px;
      right: 0px;
      width: 100%;
      height:95.65%;
    } 

    #fullscreen{
      visibility:hidden;
      
      }
    .image{ 
      height:100%;}

  }

  @media only screen and (max-width: 1025px) and (min-width: 600px) {

    #sidenav-toggle{
      visibility: visible;
      }
    #fullscreen{
      visibility:hidden;
      
      }
    .image{ 
      height:93.8%;
      background-color:hsl(240, 50%, 60%);
      background: url('../../img/4009727.jpg') no-repeat center center fixed ;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    
  }
    .btn-default {
      background: url('../../img/4009727.jpg') no-repeat center center fixed ;
   
      top:  0px;
      right: 0px;
    }
    
    .btn-change {
      background: url('../../img/4009727.jpg') no-repeat center center fixed ;
      top:  0px;
      right: 0px;
      width: 100%;
      height:95.65%;
    } 


    .image{ 
      height:100%;}

  }
  
  .other-default {
    visibility:visible;
  }
  
  .other-change {
    height: 1.2cm;
    background: url('../../img/4009727.jpg') no-repeat center center fixed ;
  } 
  .time-default {
    font-size: 70px;
    margin-top: 0.7cm;
    margin-bottom: 0.5cm;
    text-align: center;
  }
  
  .time-change {
    font-size: 240px;
    margin-top: 5cm;
    margin-bottom: 5cm;
    text-align: center;
  } 

  .nav-default{
    background-color: #799c53;
    margin-top: 0.6cm;
    margin-inline-start: 0.13cm;

    

}

.nav-change{
    background-color: #799c53;
    font-size: xx-large;
    place-items: center;
    margin-top: 0.6cm;
    margin-left: 4cm;
    padding: 1cm;
}
