
<div class="image">

    <div fxLayoutAlign="center center"  fxFlexFill class="main-div">
    <mat-card>
        
        <form   id = "form" fxLayout="column"  >
    <mat-form-field color = "accent">
    <input matInput placeholder="Username">
    </mat-form-field>

    <mat-form-field color = "accent"> 

        <input matInput type = 'email' placeholder="Email">
    </mat-form-field>
  

    <mat-form-field color = "accent">
        <input matInput type = 'password' placeholder="Password">
        </mat-form-field>

        <mat-form-field color = "accent">
            <input matInput type = 'password' placeholder="Repeat password">
            </mat-form-field>

    <button mat-flat-button type ="submit" color = "accent" routerLink = "/home">Sign up</button>
    
        </form>
        <a routerLink = "">Already a user? Log in!</a>
    </mat-card>
    
        </div>
    
        
    </div>