.mat-toolbar{
    
    background-color: #799c53;
    overflow: hidden;
    height: 1cm;
    
}

.mat-sidenav{
    background-color:#6666CC;
    width: 4cm;

}
::ng-deep .menu {
    background-color: #799c53; 
  }


.mat-flat-button{
    background-color: #799c53;
    color: white;
    

}

.image{ 
    height:93.8%;
    

    background: url('../../img/4009727.jpg') no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  


}
.mat-expansion-panel{   
    background-color:#6666CC;
    width: 98%;
    padding: 10px;
    margin: 10px;

}

.mat-form-field  {

    width: 100cm;


  }

  .details{
    right: -500px;
    background-color: #799c53; 

  }
  mat-paginator{
    background-color: #799c53;
    padding: 0px;
  }
mat-card{
    width: 29cm;
    background-color: transparent;
    outline:none;
    padding: 0px;
    margin: 0px;
    top:  0px;
    right: -80px;

}
@media only screen and (max-width: 600px) {
  mat-card{
      width:90%;
      top:  0px;
      right: 0px;
  
  }
  .mat-expansion-panel{   
    background-color:#6666CC;
    width: 90%;
    padding: 10px;
    margin: 10px;

}
mat-paginator{
height: 1cm;
}
.details{
  width: 0px;
  right: -20px;

}
.edit{
  visibility: hidden;
    
    }
    .image{ 
      height:100%;}
}

@media only screen and (max-width: 1025px) and (min-width: 600px) {
  mat-card{
    width:90%;
    top:  0px;
    right: 0px;


}
.mat-expansion-panel{   
  background-color:#6666CC;
  width: 90%;
  padding: 10px;
  margin: 10px;

}
mat-paginator{
height: 1.5cm;
}
.details{
width: 0px;
right: -200px;

}
.edit{
visibility: hidden;
  
  }
  .image{ 
    height:100%;}
}
