
   <mat-toolbar>
</mat-toolbar>
<mat-sidenav-container [hasBackdrop]="false" class="image">
<mat-sidenav #sidenav opened="true" disableClose="true">
<mat-nav-list>
<a mat-list-item><button mat-flat-button type ="submit"  routerLink = "/account">ACCOUNT</button></a>
<a mat-list-item routerLink = "/new-entry">New entry</a>
<a mat-list-item routerLink = "/new-project">New project</a>
<a mat-list-item  [matMenuTriggerFor]="menu" >Manage projects</a>
<mat-menu class ="menu" #menu="matMenu" xPosition="after">
  <button mat-menu-item>See projects info</button>
  <button mat-menu-item>Edit project</button>
  <button mat-menu-item>Delete project</button>
  <button mat-menu-item>Mark project as complete</button>
</mat-menu>

<a mat-list-item>Settings</a>
<a mat-list-item>Send feedback</a>
<a mat-list-item>About</a>
</mat-nav-list>

</mat-sidenav>
<mat-sidenav-content>
    <div fxLayoutAlign="center center"  fxFlexFill class="main-div">
        <mat-card>
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                     Project title
                    </mat-panel-title>
                    <mat-panel-description>
                      Project description
                      <button mat-flat-button type ="submit" class = "edit"  [matMenuTriggerFor]="menu">EDIT</button>
                      <button mat-flat-button type ="submit" class = "details" routerLink = "/project-details" >DETAILS</button>
                      <mat-menu class ="menu" #menu="matMenu" xPosition="after">
                        <button mat-menu-item routerLink = "/manage-projects">See projects info</button>
                        <button mat-menu-item>Edit project</button>
                        <button mat-menu-item>Delete project</button>
                        <button mat-menu-item>Mark project as complete</button>
                      </mat-menu>
                    
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>Project details</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Project title
                      </mat-panel-title>
                      <mat-panel-description>
                        Project description
                        <button mat-flat-button type ="submit" class = "edit"  [matMenuTriggerFor]="menu">EDIT</button>
                        <button mat-flat-button type ="submit" class = "details" routerLink = "/project-details" >DETAILS</button>
                     
                    </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Project details</p>
                  </mat-expansion-panel>
              </mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Project title
                  </mat-panel-title>
                  <mat-panel-description>
                    Project description
            
                    <button mat-flat-button type ="submit" class = "edit"  [matMenuTriggerFor]="menu">EDIT</button>     
                    <button mat-flat-button type ="submit" class = "details" routerLink = "/project-details" >DETAILS</button>
                    
                </mat-panel-description>
                  
                </mat-expansion-panel-header>
                <p>Project details</p>
              </mat-expansion-panel>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Project title
                  </mat-panel-title>
                  <mat-panel-description>
                    Project description
                    <button mat-flat-button type ="submit" class = "edit"  [matMenuTriggerFor]="menu">EDIT</button>
                    <button mat-flat-button type ="submit" class = "details" routerLink = "/project-details" >DETAILS</button>
                   
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>Project details</p>
              </mat-expansion-panel>


        </mat-card>
        
            </div>
        
</mat-sidenav-content>


</mat-sidenav-container>




