.mat-toolbar{
    background-color: #799c53;
    overflow: hidden;
    height: 1cm;
}

.mat-sidenav{
    background-color:#6666CC;
    width: 4cm;
}


.mat-flat-button{
    background-color: #799c53;
    color: white;
    margin: 5px;

}

.image{ 
    height:93.8%;

    background: url('../../img/girl video calling.svg') no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  


}


mat-button-toggle{
    background-color: #799c53;
    margin: 2px;
}
.mat-button-toggle-checked {
    background-color: rgba(255, 217, 0, 0.767);
  }
#danger-zone{
    background-color: red;
}
mat-card{
    background-color:#6666CC;
    top:  -100px;
    right: -430px;

}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 60px;
    margin-bottom: 16px;
    
  }
