body{
  overflow: hidden;
}
.mat-toolbar{
    
    background-color: #799c53;
    overflow: hidden;
    height: 1cm;
    
}

.mat-sidenav{
    background-color:#6666CC;
    width: 4cm;

}
::ng-deep .menu {
    background-color: #799c53; 
  }


.mat-flat-button{
    background-color: #799c53;
    color: white;
    

}

.image{ 
    height:100%;
    

    background: url('../../img/4009727.jpg') no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  


}
.mobile{
  background-color: rgba(255, 217, 0, 0.767);
  visibility: hidden;
}
.mat-expansion-panel{   
    background-color:#6666CC;
    width: 80%;
    padding: 10px;
    margin: 10px;
    height: 100%;
    right: 20px;


}


  .edit{
    right:0px;
    background-color: #799c53; 

  }

  .all{
    right:-5px;
    background-color: rgba(255, 217, 0, 0.767);

  }
mat-card{
    width: 100%;
    height: fit-content;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    right: -200px;


}

#entries{
  background-color: #799c53; 
  width: 100%;
  height: 100%;

}



@media only screen and (max-width: 600px) {

  #entries{
    background-color: #799c53; 
    width: 100%;
    padding: 5px;
    margin-left: -1px;
    height: 100%;
  
  }
  
  mat-card{
      width:90%;
      top:  0px;
      right: 0px;
  
  }
  .mat-expansion-panel{   
    background-color:#6666CC;
    width: 100%;
    padding: 10px;
    margin-left: -10px;
    right: 0px;
}

.all{
  right:10%;
  font-size: 8pt;
  min-width: 100px;
  width: 4000px;

}
.edit{
  visibility: hidden;
    }



}

@media only screen and (max-width: 1025px)  and (min-width: 600px) {
  mat-card{
    width:95%;
      top:  0px;
      left: 4%;
  
  }
  .mat-expansion-panel{   
    background-color:#6666CC;
    width: 90%;
    padding: 10px;
    margin: 10px;
    

}




}


@media only screen and (max-width: 450px){


.all{
visibility: hidden;
}
.mobile{
  visibility:visible;
}
}