.mat-toolbar{
    background-color: #799c53;
    overflow: hidden;
    height: 1cm;
}

.mat-sidenav{
    background-color:#6666CC;
    width: 4cm;
}


.mat-flat-button{
    background-color: #799c53;
    color: white;

}

.image{ 
    height:93.8%;

    background: url('../../img/girl with laptop.jpg') no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  


}


mat-card{
    background-color:#6666CC;
    top:  -100px;
    right: -430px;

}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 60px;
    margin-bottom: 16px;
    
  }
