
   <mat-toolbar>
    <button mat-flat-button (click)="sidenav.toggle()" ><mat-icon>menu</mat-icon></button>
</mat-toolbar>
<mat-sidenav-container [hasBackdrop]="false" class="image">
<mat-sidenav #sidenav opened="true" disableClose="true">
  <mat-nav-list>
    <a mat-list-item><button mat-flat-button type ="submit"  routerLink = "/account">ACCOUNT</button></a>
    <a mat-list-item routerLink = "/new-entry">New entry</a>
    <a mat-list-item routerLink = "/new-project">New project</a>
    <a mat-list-item  routerLink = "/manage-projects" >Manage projects</a>
    
    
    <a mat-list-item  [matMenuTriggerFor]="menu" >Settings</a>
    
    <mat-menu class ="menu" #menu="matMenu" xPosition="after">
        <button mat-menu-item routerLink = "/settings">App settings</button>
        <button mat-menu-item routerLink = "/account-settings">Account settings</button>
      </mat-menu>
    
    
    
    <a mat-list-item>Send feedback</a>
    
    
    
    <a mat-list-item>About</a>
    </mat-nav-list>
</mat-sidenav>
<mat-sidenav-content>
    <div fxLayoutAlign="center center"  fxFlexFill class="main-div">
        <mat-card fxFlex = "25">
            
            <form   id = "form" fxLayout="column"  >
              
                <p>Change prefered billing model</p>
                
                <mat-button-toggle-group #group="matButtonToggleGroup">
                    <mat-button-toggle value="left" aria-label="Text align left">
                      Flat fee
                    </mat-button-toggle>
                    <mat-button-toggle value="center" aria-label="Text align center">
                      Hourly wage
                    </mat-button-toggle>
                    <mat-button-toggle value="right" aria-label="Text align right">
                    Mixed model
                    </mat-button-toggle>
                                      </mat-button-toggle-group>

    
                <mat-form-field>
                    <mat-label>Change default currency</mat-label>
                    <mat-select disableRipple>
                      <mat-option value="USD"> USD - US Dollar</mat-option>
                      <mat-option value="EUR"> EUR - Euro</mat-option>
                      <mat-option value="BGP">GBP - British Pound</mat-option>
                      <mat-option value="INR">INR - Indian Rupee</mat-option>
                      <mat-option value="AUD">AUD - Australian Dollar</mat-option>
                      <mat-option value="CAD"> CAD - Canadian Dollar</mat-option>
                      <mat-option value="SGD"> SGD - Singapore Dollar</mat-option>
                      <mat-option value="CHF"> CHF - Swiss Franc</mat-option>
                      <mat-option value="MYR"> MYR - Malaysian Ringgit</mat-option>
                      <mat-option value="PLN"> PLN - Polish Złoty</mat-option>
                      <mat-option value="JPY">JPY - Japanese Yen</mat-option>
                      <mat-option value="CNY">CNY - Chinese Yuan</mat-option>
  
                    </mat-select>
                    
         
  
                </mat-form-field>

  
                <button mat-flat-button type ="submit"  color = "accent" routerLink = "/home">
                    <mat-icon>save</mat-icon>            
</button>
     
        
            </form>
        </mat-card>
        
            </div>
        
</mat-sidenav-content>


</mat-sidenav-container>




