body{
  overflow: hidden;
}
.mat-toolbar{
    
    background-color: #799c53;
    overflow: hidden;
    height: 1cm;
    
}

.mat-sidenav{
    background-color:#6666CC;
    width: 4cm;

}
::ng-deep .menu {
    background-color: #799c53; 
  }


.mat-flat-button{
    background-color: #799c53;
    color: white;
    

}

.image{ 
    height:100%;
    

    background: url('../../img/4009727.jpg') no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  


}
.mat-expansion-panel{   
    background-color:#6666CC;
    width: 95%;
    padding: 0px;
    margin: 10px;
    
    height: 100%;

}

  .edit{
    right: -40%;
    background-color: #799c53; 

  }
  textarea{
    background-color:#6666CC;
  outline:none;
  font-family: inherit;
  height: 20px;
  color: inherit;
  font-size: inherit;
  }

mat-card{
    width: 80%;
    height: 80%;
    background-color: transparent;
    padding: 0px;
    margin: 0px;

    right: -80px;

}
@media only screen and (max-width: 600px) {

    textarea{
width: 100%;
height: 50px;

    }
  mat-card{
    width: 100%;
    height: 80%;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
left: 0px;
  
  
  }
  .mat-expansion-panel{   
    background-color:#6666CC;
    width: 90%;
    padding: 10px;
    margin: 10px;

}

.edit{
  width: 0px;
  right: -15px;
    
    }
    .image{ 
      height:100%;}
}

@media only screen and (max-width: 1025px)  and (min-width: 600px) {
  mat-card{
    width: 90%;
    height: 80%;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    left: 20px;
  
  }
  .mat-expansion-panel{   
    background-color:#6666CC;
    width: 90%;
    padding: 5px;
    margin: 5px;

}


  .image{ 
    height:100%;}

}
